# Este archivo solo es referencia de como debe ser el .env y usted se encarga de cambiar los valores.
POSTGRES_USER=flora
POSTGRES_PASSWORD=cambia_esta_clave
POSTGRES_DB=flora_db
SECRET_KEY=cambia_esta_clave_secreta_larga
